<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>OkiTable</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>OkiTable</header>
  <%= yield %>
</body>
</html>